html,body{
    /*here we  have given body and html both a height of 
    100% becaue our section needs it  for it to be 100%
    of the page; body does not have a height by default*/
    margin:0px;
    height:100%;
}

section{
    height:100%;
    width:100%;
    background-color:#151b29;
}

button{
    /*here we have made the position meaning the thing is removed from the regular flow of the doucment
    and is position based on how the closest parent's position property is set and if its not set (which is the case here as
    "section" has no property of position) button would be positioned according to the body*/
    position: absolute;
    /*center*/
    top: 50%;
    left:50%;
    background: none;
    color:#ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
}