
#static #first{
    height:150px;
    width:150px;
    background-color: #ffafcc;
    display: inline-block;
    margin: 10px;
    
}

#static #second{
    height:150px;
    width:150px;
    background-color: #bde0fe;
    display:inline-block;
    margin: 10px 20px; 
    position: static; 
    /* no effect since the position is set to be static  */
    top:200px;
    bottom: 200px  
    /* top right bottom left will have no effect */
}


#static #third{
    height:150px;
    width:150px;
    background-color: #ffafcc;
    display:inline-block;
     margin: 10px 20px;
}

/* -------------Relative----------- */
#Relative #first{
    height:150px;
    width:150px;
    background-color: #ffafcc;
    display: inline-block;
    margin: 10px;
    
}

#Relative #second{
    height:150px;
    width:150px;
    background-color: #bde0fe;
    display:inline-block;
    margin: 10px 20px; 
    position: Relative; 
    /* offset to  sepcified position (left,right, top , bottom) Relative to itself  */
    right: 30px;
    top:10px

    /* now the "new" div would be offset 30px right(shift towards left) and a 10px top(meaning shift towards bottom)  */
}

#Relative #third{
    height:150px;
    width:150px;
    background-color: #ffafcc;
    display:inline-block;
     margin: 10px 20px;
}



/* -------------Absolute----------- */
#Absolute #first{
    height:150px;
    width:150px;
    background-color: #ffafcc;
    display: inline-block;
    margin: 10px;
    
}

#Absolute #second{
    height:150px;
    width:150px;
    background-color: #bde0fe;
    display:inline-block;
    margin: 10px 20px; 
    position: Absolute; 
    /* it removes the div from its usual flow and and whatever property(top,left,right) 
    we are going to apply will be done based on the parent's position  element its contained in  */
    top:10px



}

#Absolute #third{
    height:150px;
    width:150px;
    background-color: #ffafcc;
    display:inline-block;
     margin: 10px 20px;
}


